@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color:none;
  font-family: "Poppins", sans-serif;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  
}

.cabecera{
  width: 100%;
  height: 100px;
  display: flex;
  
}

.menu{
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}


.navbar{
  display: flex;
  
}
.menu-1{
  background-color: rgb(250, 217, 29);
  margin-right: 100px;
  width: 600px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 40px;
}
.logo-1{
  margin-right: 40px;
  width: 50px;
  height: 50px;
}
.menu .navbar ul li {
  position: relative;
  float: left;
}
.menu .navbar ul li a {
  font-size: 18px;
  padding: 30px;
  color: black; 
  display: block;
}
.menu .navbar ul li a:hover{
  color: rgb(255, 0, 0); 
}

#menu{
  display: none;
}
.menu-icono{
  width: 25px;
}

.btn-1{
  background-color: rgb(250, 217, 29);
  color: black;
  font-size: 18px;
  border-radius: 40px;
  border: none;
  width: 150px;
  height: 45px;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.btn-1:hover{
  color: rgb(255, 0, 0); 
}

#menu{
  display: none;
  
}
.menu-icono{
  width: 25px;
}

.slider{
  display: flex;
  align-items: center;
}
.slider-txt{
  margin-left: 85px;
  width: 50%;
}
.slider-txt h1{
  font-size: 70px;
  opacity: 0.5;
  color: azure;
  text-transform: lowercase;
  font-weight: 800;
}
.slider-txt p{
  font-size: 18px;
  color: rgb(7, 1, 34);
}
.slider-txt2{
  margin-left: 85px;
  width: 50%;
}
.slider-txt2 h1{
  font-size: 50px;
  color: azure;
  text-transform: lowercase;
  font-weight: 800;
}
.slider-txt2 p{
  font-size: 18px;
  color: rgb(12, 0, 66);
}
.botones {
  margin-top: 50px;
}
.btn-2 {
  display: inline-block;
  padding: 15px 35px;
  border: px solid rgb(1, 34, 71);
  color: rgb(164, 170, 172);
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
  border-radius: 50px;
  font-size: 15px;
}
.btn-2:hover{
  background-color: rgb(1, 34, 71);
}
.slider-img{
  width: 50%;
}
.slider-img img{
  border-radius: 23%;
  margin-right: 225px;
  width: 500px;
}
.slider-img img:hover{
  box-shadow: 2px 7px 30px #0868a8;
}

.banner-container {
    width: 100%;
    height: 200px;
    max-width: 500px; /* Este valor puede ser modificado según tus necesidades */
    max-height: 500px;
    margin: 0 auto;
    position: relative;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
    max-height: 1000px; /* Este valor puede ser modificado según tus necesidades */
  }
  

.menu-container {
  
    display: flex;
    opacity: 0.9;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
    
  .menu-item {
    width: 24%;
    margin-bottom: 10px;
    padding: 20px;
  
    background-color:none;
    text-align: center;
  }
  
  .menu-item img {
    width: 75%;
    height: 200px;
    margin-bottom: 20px;
    size-adjust: 30px, 40px;
    border-radius: 15px;
  }
  
  .menu-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .menu-item p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .dropdown {
    position: relative;
    display: -moz-inline-box;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #dfdfdf;
    border-radius: 15px 15px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: rgb(83, 83, 65);
    padding: 12px 50px;
    text-size-adjust: 50px;
    font-size: 17px;
  
    text-shadow: black;
    border-radius: 15px 15px;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #eed3e6;
  }
  .menu-item button {
    background-color: #F17228;
    color: rgb(39, 39, 39);
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .menu-item button:hover {
    
    background-color: #d3c335;
  }
  
  .section1{
    background-color:#F9FAFD ;
  }


  .section2{
    background-color:#fcf8e3 ;
  }


  .section3{
    background-color:#F9FAFD ;
  }

  .pie-pagina{
    background-color: #212121;
    margin-top: auto;
    align-items: center;
  }
  .pie-pagina .grupo-1{
    width:100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ; 
    grid-gap: 10px;
    padding: 10px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  .pie-pagina .grupo-1 .box h3{
    color: whitesmoke;
    font-size: 17px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: white;
    font-size: 15px;
  }
  
  .pie-pagina .grupo-1 .box .red-social img{
    width: 50px;
    height: 50px;
    position: center;
  }

  .pie-pagina .grupo-1 .box img{
    width: 50px;
    height: 50px;
    position: center;
  }

  .header {
    background-color: #fcf8e3 ;
    width: 100%;
    height: 70px;
    
  }